.visibleTable table{
    display: block;
    height: 300px;
    overflow-y: scroll;
}
tr.checked td {
    position: relative;
}
tr.checked td:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid;
    top: 11px;
}